<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h3 class="m-2 p-2">Прошел все курсы на SkillBox. Продаю готовые домашние задания</h3>
        <hr>
        <ol>
            <li><a href="/python-basic">Python basic</a></li>
            <li><a href="/django">Python-фреймворк Django</a></li>
            <li><a href="/web-layout">Веб-верстка</a></li>
            <li><a href="/os-linux">Администрированиие ОС Linux</a></li>
            <li><a href="/sql">SQL-разработчик</a></li>
        </ol>
    </div>
</body>
</html>
