<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
     <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <h1 class="m-2 p-2">Веб-вёрстка</h1>
        <a class="link-primary" href="https://skillbox.ru/course/weblayout/">https://skillbox.ru/course/weblayout/</a>
        <div class="m-2"><img src="https://248006.selcdn.ru/LandGen/desktop_2_4d7fa8169d0187e10fb07ccef1637952b76730f8.webp" alt="" width="30%" height="auto"></div>
        <p>100 рублей</p>
        <button type="button" class="btn btn-primary"><a class="link-light" href="../">Назад</a></button>
    </div>

</body>
</html>